<div mat-dialog-title class="custom-dialog-title">
  <h2>{{ modalData.type }} Task</h2>
  <button mat-icon-button aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<form
  class="custom-form"
  autocomplete="off"
  [formGroup]="dialogForm"
  (ngSubmit)="saveDialog()"
>
  <mat-dialog-content class="custom-dialog-content">
    <div class="form-group">
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="custom-input"
      >
        <mat-label>Judul</mat-label>
        <input matInput formControlName="title" type="text" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="custom-input"
      >
        <mat-label>Catat sesuatu</mat-label>
        <textarea matInput formControlName="content" type="text"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="custom-dialog-actions">
    <button mat-flat-button color="primary" type="submit" class="button-action">
      Save
    </button>
  </mat-dialog-actions>
</form>
