.todo-list {
  margin-top: 25px;
  min-width: 600px;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  background: linear-gradient(#4837b2, #1f1a3d);

  &-title {
    color: white;
  }

  &-content {
    max-height: 480px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 12px;
  }
}

.custom-card {
  background-color: #7668ca;
  margin-bottom: 18px;
  color: white;
}

.button-action {
  display: flex;
  justify-content: center;
}

//scroll browser
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7668ca;
  border-radius: 10px;
}
