<div class="todo-list">
  <h1 class="todo-list-title">Todo list</h1>

  <div class="todo-list-content">
    <mat-card *ngFor="let item of listTodo()" class="custom-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            {{ item.title }}
            <span *ngIf="!item.title">-</span>
          </mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="more">
            <mat-icon fontIcon="more_vert"></mat-icon>
          </button>

          <mat-menu #more="matMenu">
            <button mat-menu-item (click)="openDialogUpdate(item)">
              <mat-icon fontIcon="edit" color="primary"></mat-icon>
              <span>edit</span>
            </button>
            <button mat-menu-item (click)="deleteItem(item)">
              <mat-icon fontIcon="delete" color="warn"></mat-icon>
              <span>delete</span>
            </button>
          </mat-menu>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ item.content }}
        <span *ngIf="!item.content"> - </span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="button-action">
    <button mat-fab color="primary" (click)="openDialogCreate()">
      <mat-icon fontIcon="add"></mat-icon>
    </button>
  </div>
</div>
